:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: 'Playfair Display', serif;
  --default-font-family: 'Poppins', sans-serif;
}

body {
  margin: 0px auto;
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 10%;
}

.main-content {
  margin-top: 90px;
}

.nav-item {
  padding: 0 20px;
}

.app-title {
  text-align: left;
}

.about-app {
  background-color: #fff;
  text-align: left;
  padding: 0;
}

.app-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-me {
  font-size: 80px;
}

.about-text {
  background-color: #fff;
  text-align: center;
  padding: 0 10px;
}

.about-paragraphs p {
  margin-top: 30px;
}

.contact-me {
  font-size: 50px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 576px) {
  h2{
     font-size: 32px;
  }

  h1{
    font-size: 48px;
  }

  h3{
    font-size: 24px;
  }

  .main-content{
    padding: 0px 6%;
    line-height: 1.8;
  }

  .about-me {
    font-size: 48px;
  }

  .navigation-links{
    white-space: nowrap;
  }

  .contact-me {
    font-size: 40px;
  }
  
  .email-link {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  h2{
     font-size: 24px;
  }

  h1{
    font-size: 32px;
  }

  h3{
    font-size: 18px;
  }

  .about-me {
    font-size: 32px;
  }

  .navigation-links{
    white-space: nowrap;
  }

  .navigation-links a {
    margin: 10px;
    padding: 10px 8px;
  }

  .contact-me {
    font-size: 20px;
  }
  
  .email-link {
    font-size: 10px;
  }
}